#contenedor{ /*¿Es de tipo inblock?*/
    width: 50%; /*Ancho*/ 
    border-radius: 5px; /* Bordes del cuadro redondo */
    background-color: #b33e3e; /*Le pongo un color de fondo*/
    padding: 20px; /*El componente crece para dentro*/
}
/*
con . a la clase
con # al id
un div ocupa el 100% de la pantalla
margin auto: lo centra en la pantalla.
margin: 20px auto; 1ero es de arriba y de abajo, el 2do de derecha a izquierda.
//Estos 3 siguientes tienen q estar siempre!
box-sizing: border-box; box-sizing es por defecto y border box 
 hace q se consuma para adentro y no para afuera por defecto.
-moz.box-sizing: border box; Para versiones de Mozila viejas.
-webkit-box-sizing: border box; Para versiones de chrome viejas.

//Posicionamiento:
position: static; Permite mover un elemento. static valor por defecto.
top: -10px;  Mueve el elemento para arriba o abajo de otro. Los dos elementos tienen que 
tener positivion: relative. 
*/

/* flex-wrap: wrap; esta propiedad hace q no aparezca la barra al achicar la pantalla
acomoda los divs, poniendo uno debajo del otro. Si no por defecto, achica los elementos.
 flex-grow: 0; esta seteado en 0 por defecto sobre el item, el resto sobre el contenedor.*/
input[type=text]{
    width:100%;
    padding: 12px 20px;
    margin:8px;
    box-sizing: border-box; /*Crecio demasiado con los 2 de arriba, lo acomoda*/
    border: solid 1px #dddddd;
}

/* Un div dentro de otro div*/
.relativePadre { /*Padre contenedor*/
    position: relative;
    width: 600px;
    height: 400px;
    border: solid blue 5px;
}

.relativeHijo{
    position: absolute;
    top: 12px; /*25% este y*/ 
    right:0; /*25% este, estaria en el medio*/
    border:solid blue 5px;
    width: 50%;   /*ancho*/
    height: 50%; /*alto*/
}

.fixed{
    position: fixed; /*Queda anclado en la pantalla*/
    border:solid red 5px;
    top:25%;
    right:25%;
}

